* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 6rem;
  font-family: "raleway";
}

.header {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "raleway";
}

.logo {
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  margin-left: 3rem;
  list-style: none;
}

.hero {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.hero-bg-img img {
  max-width: 100%;
  height: auto;
  margin-top: -4rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding-right: 7rem;
}

.hero-title {
  font-weight: 700;
  font-size: 2rem;
}

.hero-description {
  font-weight: 500;
  margin-top: 2rem;
}

form {
  margin-top: 2rem;
  max-width: 100%;
}

.btn,
.hero-btn {
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  background-color: #398feb;
  color: rgb(248, 246, 246);
}

input {
  padding: 0.7rem;
  width: 15rem;
  border: none;
  border: 1px solid #000;
  border-radius: 3px;
}

.input:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

.testimonial-section {
  background-image: url(images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  margin-top: 5rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 5rem 6rem;
}

.t-content {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.t-img {
  max-width: 100%;
  height: auto;
}

.testimonial-title {
  font-weight: 700;
  font-size: 2rem;
}

.testimonial-description {
  margin: 2rem 0 1.5rem;
}

.how {
  margin: 0.5rem 0 3rem;
  color: #3c9f8f;
  text-decoration: none;
  border-bottom: 1px solid #3c9f8f;
  width: fit-content;
}

.comment-box {
  width: 25rem;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 1rem 0 0;
  background-color: #fff;
}

.quote-icon {
  margin-bottom: 1rem;
}

.comment {
  line-height: 1.4;
  font-family: "open sans";
}

.customer {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.avatar-img {
  width: 2.4rem;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.job {
  font-size: 0.6rem;
  font-weight: 500;
}

.cta-section {
  background-color: #585989;
  padding: 6rem 0;
  display: block;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  color: #fff;
  align-items: center;
}

.cta-title {
  margin-bottom: 1rem;
  align-self: center;
}

.cta-description {
  padding-right: 9rem;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
  margin-top: 0;
}

.cta-input {
  width: 100%;
}

.cta-btn {
  width: 50%;
}

.footer-section {
  background-color: #070439;
  color: #fff;
  padding: 4rem 0 2rem;
}

.footer-logo {
  margin-bottom: 1rem;
  cursor: pointer;
}

footer div li {
  list-style: none;
  line-height: 2;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.social-icon {
  margin-left: 1.5rem;
  border: 1px solid #fff;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0.6rem;
}
.phone-icon,
.email-icon {
  margin-right: 1rem;
  /* align-items: center; */
}
.arrow:hover {
  color: #3c9f8f;
}
a:hover {
  color: #79d1c2;
}
